[user]
    name = akileshas
    email = akileshas.ai@gmail.com
    signingkey = /home/akileshas/.ssh/id_ed25519.pub

[alias]
    ps = push
    pl = pull

    a = add
    aa = add --all
    ap = add --patch
    au = add --update

    cl = clone
    cp = cherry-pick

    b = branch
    ba = branch --all
    bd = branch --delete
    bD = branch --delete --force
    bm = branch --move
    bM = branch --move --force

    c = commit
    ca = commit --amend
    ci = commit --interactive
    cm = commit --message
    cv = commit --verbose

    d = diff
    dc = diff --cached
    ds = diff --staged
    dw = diff --word-diff
    dp = diff --patch
    dS = diff --submodule
    dC = diff --color-words
    dP = diff --color-words --patch

    l = log
    lg = log --graph
    lk = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset'
    lo = log --oneline
    lp = log --patch
    lt = log --topo-order

    o = checkout
    ob = checkout -b

    s = status --short --branch

    unstage = reset HEAD
    undo-commit = reset --soft HEAD^

    st = stash
    sta = stash apply

    m = merge
    ma = merge --abort
    mc = merge --continue
    mf = merge --ff-only
    mF = merge --no-ff
    mS = merge --squash

    r = rebase
    ra = rebase --abort
    rc = rebase --continue
    ri = rebase --interactive
    rs = rebase --skip

    sh = show
    shs = show --stat
    shw = show --word-diff
    shp = show --patch
    shc = show --color-words

    bl = blame
    blr = blame --root

    ignf = ls-files -o -i --exclude-standard

    rmf = rm --force
    rmc = rm -r --cached

[color]
    ui = auto

[init]
    defaultBranch = master

[core]
    editor = nvim
    pager = nvimpager

[diff]
    tool = nvimdiff

[merge]
    conflictstyle = diff3

[interactive]
    diffFilter = delta --color-only

[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential]
    helper = store

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[gpg]
    format = ssh
