[user]
	name = akileshas
	email = akilesh.ml.engineer@gmail.com

[init]
	defaultBranch = master

[diff]
	tool = nvimdiff

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
