adwaita-cursors
adwaita-icon-theme
adwaita-icon-theme-legacy
adwaita-qt4
adwaita-qt5
adwaita-qt6
qt5ct
qt6ct
libnvidia-container
nvidia-settings
nvidia-dkms
nvidia-utils
egl-gbm
egl-wayland
egl-x11
libvdpau
libxnvctrl
opencl-nvidia
libssh2
jdk17-openjdk
ffmpeg4.4
zed
rsync
librsync
tor
