httpie
httpie-desktop-bin
visual-studio-code-bin
docker
lazydocker
ollama-cuda
libva
libva-intel-driver
libva-nvidia-driver
libva-utils
libvarlink
libvdpau
libvdpau-va-gl
libvips
libvirt
libvisio
libvlc
libvncserver
libvolk
libvorbis
libvorbis-docs
libvpl
libvpl-tools
libvpx
libvterm
glu
mesa
mesa-amber
mesa-demos
mesa-docs
mesa-utils
opencl-mesa
vulkan-mesa-layers
lib32-glu
lib32-mesa
lib32-mesa-amber
lib32-mesa-demos
lib32-mesa-utils
lib32-opencl-mesa
lib32-vulkan-mesa-layers
python-libvcs
lib32-libva
lib32-libva-intel-driver
lib32-libvdpau
lib32-nvidia-cg-toolkit
lib32-libvorbis
lib32-libvpx
lib32-mesa
vala
intel-media-driver
libva-intel-driver
lib32-libva-intel-driver
yt-dlp
nvidia-container-toolkit
libxnvctrl
nvhpc
nvhpc-comm-libs
nvhpc-compilers
nvidia-cg-toolkit
nvidia-prime
nvidia-settings
android-studio
obs-studio
obsidian
onlyoffice-bin
ngrok
discord
lib32-clang
libc++
libc++abi
lld
lib32-clang
lib32-llvm
lib32-llvm-libs
cmake
isa-l
connman
ibus
ibus-libpinyin
igsc
intel-compute-runtime
intel-gmmlib
intel-gpu-tools
intel-graphics-compiler
intel-media-sdk
intel-metee
intel-metee-doc
intel-oneapi-basekit
intel-oneapi-common
intel-oneapi-compiler-dpcpp-cpp-runtime
intel-oneapi-compiler-dpcpp-cpp-runtime-libs
intel-oneapi-compiler-shared
intel-oneapi-compiler-shared-runtime
intel-oneapi-compiler-shared-runtime-libs
intel-oneapi-dev-utilities
intel-oneapi-dpcpp-cpp
intel-oneapi-dpcpp-debugger
intel-oneapi-mkl
intel-oneapi-mkl-sycl
intel-oneapi-openmp
intel-oneapi-tbb
intel-oneapi-tcm
intel-speed-select
intel-ucode
intel-undervolt
iucode-tool
libmfx
onednn
onetbb
openimagedenoise
openipmi
openpgl
openvkl
xf86-video-intel
whois
lib32-libxrandr
