httpie
httpie-desktop-bin
visual-studio-code-bin
docker
lazydocker
ollama-cuda
libva
libva-intel-driver
libva-nvidia-driver
libva-utils
libvarlink
libvdpau
libvdpau-va-gl
libvips
libvirt
libvisio
libvlc
libvncserver
libvolk
libvorbis
libvorbis-docs
libvpl
libvpl-tools
libvpx
libvterm
glu
mesa
mesa-amber
mesa-demos
mesa-docs
mesa-utils
opencl-mesa
vulkan-mesa-layers
lib32-glu
lib32-mesa
lib32-mesa-amber
lib32-mesa-demos
lib32-mesa-utils
lib32-opencl-mesa
lib32-vulkan-mesa-layers
python-libvcs
lib32-libva
lib32-libva-intel-driver
lib32-libvdpau
lib32-libvorbis
lib32-libvpx
lib32-mesa
vala
intel-media-driver
libva-intel-driver
lib32-libva-intel-driver
yt-dlp
nvidia-container-toolkit
android-studio
obs-studio
obsidian
onlyoffice-bin
ngrok
discord
