i2c-tools
bc
libqalculate
qalculate-gtk
atool
scc
cloc
bottom
powertop
bandwhich
upower
axel
playerctl
aic94xx-firmware
ast-firmware
linux-firmware-qlogic
linux-firmware-bnx2x
linux-firmware-liquidio
linux-firmware-mellanox
linux-firmware-nfp
wd719x-firmware
libcutensor
cusparselt
nvm
nodejs
bun-bin
yarn
openssh
openvpn
networkmanager
network-manager-applet
networkmanager-openvpn
jdk21-openjdk
jdk-openjdk
reflector
speedtest-cli
bash-completion
fdupes
most
less
duf
ncdu
dua-cli
rm-improved-bin
perl-image-exiftool
navi
procs
dust
broot
mc
asciinema
tree-sitter
tree-sitter-bash
tree-sitter-c
tree-sitter-cli
tree-sitter-javascript
tree-sitter-lua
tree-sitter-markdown
tree-sitter-python
tree-sitter-query
tree-sitter-rust
tree-sitter-vim
tree-sitter-vimdoc
tree
tre-command-bin
diff-so-fancy
fortune-mod
fortune-mod-bofh-excuses
fortune-mod-matrix
cowsay
lolcat
sl
tokei
figlet
p7zip
unrar
tar
rsync
exfat-utils
fuse-exfat
ntfs-3g
flac
jasper
pacman-contrib
sof-firmware
lsscsi
npm
cabal-fmt
cabal-install
cabal-plan
stack
haskell-language-server-static
poppler
ghostscript
ueberzugpp
cbonsai
tectonic
texlive-core
binutils
pnpm
inotify-tools
php
composer
clang
llvm
llvm-libs
openmp
tinygo
bear
intel-graphics-compiler
devtools
evtest
