aic94xx-firmware
ast-firmware
linux-firmware-qlogic
linux-firmware-bnx2x
linux-firmware-liquidio
linux-firmware-mellanox
linux-firmware-nfp
wd719x-firmware
libcutensor
cusparselt
openssh
speedtest-cli
most
less
duf
ncdu
dua-cli
rm-improved-bin
navi
procs
dust
mc
asciinema
tre-command-bin
diff-so-fancy
fortune-mod
fortune-mod-bofh-excuses
fortune-mod-matrix
cowsay
lolcat
sl
tokei
figlet
p7zip
unrar
tar
rsync
exfat-utils
fuse-exfat
ntfs-3g
flac
jasper
pacman-contrib
lsscsi
cabal-fmt
cabal-install
cabal-plan
stack
haskell-language-server-static
poppler
ghostscript
ueberzugpp
cbonsai
tectonic
texlive-core
binutils
