aic94xx-firmware
ast-firmware
linux-firmware-qlogic
linux-firmware-bnx2x
linux-firmware-liquidio
linux-firmware-mellanox
linux-firmware-nfp
wd719x-firmware
fortune-mod
fortune-mod-bofh-excuses
fortune-mod-matrix
flac
jasper
pacman-contrib
lsscsi
cabal-fmt
cabal-install
cabal-plan
stack
haskell-language-server-static
poppler
ghostscript
ueberzugpp
cbonsai
tectonic
texlive-core
