/* General global styles */

* {
  font-family: "Fira Sans", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0px solid #ffffff;
  transition-property: background-color;
}

/* Workspace styles */

#workspaces {
  margin: 5px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
}

#workspaces button.active {
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  min-width: 17px;
}

/* Arch logo */

#custom-arch_logo {
  font-size: 21px;
  color: #1793d1;
  margin: 5px 3px 0px 0px;
}

/* Taskbar */

#taskbar {
  margin: 5px 0px 0px 0px;
  background: transparent;
}

#taskbar button {
  background: transparent;
}

#taskbar button.active {
  background: rgba(245, 247, 249, 0.5);
  border-radius: 10px 0px 10px 0px;
}
