ghc
ghcup-hs-bin
brightnessctl
xorg-xset
power-profiles-daemon
lm_sensors
util-linux
pamixer
feh
pavucontrol
bc
libqalculate
qalculate-gtk
lazygit
lazydocker
neovim
neovim
pfetch
bat
eza
fd
ripgrep
zoxide
starship
firefox-developer-edition
google-chrome-dev
thunar
udisks2
xorg-xinput
xorg-xrandr
libxrandr
xdg-desktop-portal
xdg-desktop-portal-gtk
zed
visual-studio-code-insiders-bin
discord
xorg-setxkbmap
i3lock
picom
dunst
kitty
playerctl
maim
xclip
xsel
rofi
dmenu
adwaita-cursors
adwaita-icon-theme
adwaita-icon-theme-legacy
adwaita-qt4
adwaita-qt5
adwaita-qt6
qt5ct
qt6ct
git
git-delta
httpie
httpie-desktop-bin
tmux
tmate
i3blocks
