# Torch with cuda support.
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision 
torchaudio
torch-xla
pytorch-lightning
transformers[torch]
fastai
timm
pytorch_tabular[extra]

-r requirements-common.txt
