numpy
pandas
polars
matplotlib
seaborn
scipy
sympy
coverage
pytest
pytest-cov
pytest-xdist
llama-index
setuptools
wheel
optuna
optunahub
cmaes
statsmodels
gputil
cupy-cuda12x
pycuda
numba
numexpr
jupyterlab
notebook
fasttext
scikit-learn
gensim
spacy
tqdm
keras
keras-cv
keras-hub
Cython
streamlit
beautifulsoup4
gradio
requests
nltk
onnxruntime-gpu
sockets
python-socketio
opencv-python
pillow
pydantic
nuitka
langchain
python-dotenv
PyYAML
openai
Django
Flask
huggingface_hub[cli]
networkx
fastapi
PyGObject
scapy
pygad
dask[complete]
namex
ruff
h5py
ml-dtypes
rich
build
optree
packaging
kaggle
ninja
onnxruntime-genai
mlflow
mlflow[extras]
neptune
wandb
weave
xgboost
neovim
