advcpmv
powerprofilesctl
atool
scc
cloc
fzf
fd
tmux
tmate
tldr
man
bat
exa
ripgrep
ripgrep-all
htop
btop
nvtop
cuda
cuda-tools
libnvidia-container
nvidia-container-toolkit
nvidia-settings
nvidia-dkms
nvidia-utils
cudnn
egl-gbm
egl-wayland
egl-x11
libvdpau
libxnvctrl
opencl-nvidia
xdotool
nvm
starship
zoxide
thefuck
fzf
fd
jq
tmux
tmate
unzip
curl
wget
adwaita-cursors
adwaita-icon-theme
adwaita-icon-theme-legacy
adwaita-qt4
adwaita-qt5
adwaita-qt6
qt5ct
qt6ct
eza
bat
openssh
libssh2
openvpn
android-studio-canary
jdk17-openjdk
jdk21-openjdk
nvimpager
yazi
imv
mpv
onlyoffice-bin
visual-studio-code-insiders-bin
advcpmv
reflector
scc
cloc
obsidian
power-profiles-daemon
powertop
upower
brightnessctl
lazygit
lazydocker
cowsay
lolcat
fortune-mod
fortune-mod-bofh-excuses
xclip
xsel
procs
dust
duf
blueman
bluez
thunar
cheese
udisks2
xorg-xset
xorg-server
xorg-xinput
xorg-xrandr
xorg-setxkbmap
libxrandr
obs-studio
ghc
ghcup-hs-bin
ghc-libs
rustup
tree-sitter
tree-sitter-cli
tree-sitter-bash
tree-sitter-c
tree-sitter-lua
tree-sitter-python
tree-sitter-markdown
tree-sitter-query
tree-sitter-rust
tree-sitter-vim
tree-sitter-vimdoc
tre-command-bin
tree
pavucontrol
picom
dunst
feh
net-tools
networkmanager
network-manager-applet
ngrok
pamixer
playerctl
tor
networkmanager-openvpn
aria2
duf
diff-so-fancy
perl-image-exiftool
ffmpeg
ffmpeg4.4
fdupes
most
ncdu
neofetch
pfetch
neovim
vim
dua-cli
bpytop
bottom
rm-improved-bin
trash-cli
rmtrash
bandwhich
gping
navi
speedtest-cli
httpie
httpie-desktop-bin
sl
tokei
figlet
broot
dust
axel
git-delta
librsync
tree
tig
mc
asciinema
rsync
librsync
gdb
gdb-common
gdb-dashboard
bash-completion
bun-bin
nodejs
go
ufw
